<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowFileAccessOutsideOfWidget</key>
	<true/>
	<key>AllowNetworkAccess</key>
	<true/>
	<key>AllowSystem</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>GuiaTV</string>
	<key>CFBundleIdentifier</key>
	<string>pt.jaac.guiatv</string>
	<key>CFBundleShortVersionString</key>
	<string>r3.2.1</string>
	<key>CFBundleVersion</key>
	<string>r3.2.1</string>
	<key>CloseBoxInsetX</key>
	<integer>8</integer>
	<key>CloseBoxInsetY</key>
	<integer>8</integer>
	<key>Height</key>
	<integer>340</integer>
	<key>MainHTML</key>
	<string>GuiaTV.html</string>
	<key>Width</key>
	<integer>214</integer>
</dict>
</plist>
